$pink: #EE74C4;
$violett: #A04CFF;
$green: #50d146;
$darkGreen: #02c792;
$red: #eb4545;
$buttonFontColor: #fff;
$fontColorUnimportant: #5e5e5e;
$fontColorimportant: rgb(43, 43, 43);
$BtnBlue: #813cff;
$Black: rgb(56, 57, 55);
